# 请替换为你的OKX API密钥
OKX_API_KEY=
# 请替换为你的OKX API密钥
OKX_SECRET_KEY=
# 请替换为你的OKX API密码短语
OKX_API_PASSPHRASE=
# 如果有项目ID
OKX_PROJECT_ID=

# Solana
# Solana主网RPC节点
SOLANA_RPC_URL=
# 你的Solana钱包地址
SOLANA_WALLET_ADDRESS=
# 你的Solana钱包私钥
SOLANA_PRIVATE_KEY=

# 交易配置
# 买入价格阈值
LOWER_PRICE_THRESHOLD=
# 卖出价格阈值
UPPER_PRICE_THRESHOLD=
# 交易间隔时间，单位为秒
TRADE_INTERVAL_SEC=60
# 目标代币地址（例如USDC的地址）
TARGET_TOKEN_ADDRESS=
# 每次买入数量 单位为SOL
BUY_AMOUNT=
# 每次卖出数量 单位为目标代币
SELL_AMOUNT=